@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
div,
ul,
li,
a {
  @apply m-0 p-0 box-border;
}
body {
  @apply bg-gray-50;
}
main {
  @apply p-8 overflow-y-scroll;
}
h1 {
  @apply font-semibold leading-tight text-4xl;
}
h2 {
  @apply font-semibold leading-tight text-3xl;
}
h3 {
  @apply font-semibold leading-tight text-2xl;
}

.Skill-RadioGroup .MuiFormGroup-root {
  @apply flex-row;
}
.Skill-RadioGroup .MuiFormGroup-root .MuiFormControlLabel-root {
  @apply w-[25%] m-0 p-0;
}
.Skill-RadioGroup .MuiFormGroup-root .MuiFormControlLabel-root .MuiButtonBase-root {
  @apply p-[2px];
}
.Skill-RadioGroup .MuiFormGroup-root .MuiFormControlLabel-root .MuiButtonBase-root .MuiSvgIcon-root {
  @apply w-[0.8em] h-[0.8em];
}
.Skill-RadioGroup .MuiFormGroup-root .MuiFormControlLabel-root .MuiTypography-root {
  @apply text-[0.8em];
}

.react-datepicker-wrapper .react-datepicker__input-container input {
  @apply py-[15px] px-[14px] rounded-md box-content border-[1px] border-[#CCCCCC];
}
.react-datepicker-popper {
  @apply z-[2] !important;
}
.quill .ql-container {
  @apply min-h-[300px];
}
.MyPage-stacklist > div {
  @apply mb-0 border-b-[1px] rounded-none;
}
.MyPage-stacklist > div:last-of-type {
  @apply border-none;
}

.OutputCardContent p code {
  @apply Code;
}
.OutputCardContent pre {
  @apply PreCode;
}

.OutputContent p code {
  @apply Code;
}
.OutputContent pre {
  @apply PreCode;
}

.PreCode {
  @apply p-2 text-[12px] bg-gray-100 border rounded-sm whitespace-pre-wrap;
}
.Code {
  @apply p-1 text-sm text-red-400 bg-gray-100 border rounded-sm;
}

.MoreButton {
  @apply absolute left-0 right-0 bottom-0 p-6 text-center text-sm text-white cursor-pointer;
  background: linear-gradient(to top, rgb(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.ProfileImage {
  @apply relative mr-6 bg-white rounded-full;
}
.ProfileImageOverlay {
  @apply flex items-center justify-center absolute top-0 left-0 h-full w-full rounded-full cursor-pointer;
  transition: 0.3s all;
}
.ProfileImageIcon {
  @apply text-gray-100 opacity-0;
}
.ProfileImage:hover .ProfileImageOverlay {
  background-color: rgba(0, 0, 0, 0.1);
  transition: 0.3s all;
}
.ProfileImage:hover .ProfileImageIcon {
  @apply opacity-100;
  transition: 0.3s all;
}

.hoverParent {
  @apply flex items-center mr-4 relative cursor-pointer duration-300;
}
.hoverParent:hover .hoverChild {
  @apply opacity-100 duration-300;
}
.hoverChild {
  @apply opacity-0 absolute top-[-30px] right-0 duration-300 rounded-sm py-1 px-4 text-[10px] text-white;
}